body {
  background-color: rgb(236, 234, 142);
}

#img {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  content: normal;
  align-items: center;
}

.principal {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-size: small;
  color: brown;
}
